# Python
__pycache__/
*.pyc
.venv/
.venv-docs/
.env
.env.*

# Node
node_modules/
dist/
.DS_Store

# SQLite
*.db
*.sqlite

# TTS-Module
*.wav
*.ogg

# Docs
docs/_build/
docs/_autoapi/
docs/reference/
!docs/reference/
!docs/reference/index.md
